body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Adjust the width to control the container size */
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hello-btn {
    margin-top: 10px;
    background: green;
    padding: 15px 35px;
    border-radius: 5px;
    color: white;
    border: none;
}